<hr class="my-4">
<div class="mb-3 card p-3">
    <h4>Channel Settings</h4>
    <div class="mb-3">
        <label for="guild_id" class="form-label">Discord Server (Guild) ID</label>
        <i class="bi bi-question-circle help-icon" data-bs-toggle="tooltip" data-bs-placement="right" title="The ID of your Discord server. Enable Developer Mode in Discord (Settings -> Advanced), then right-click on your server in the server list -> 'Copy ID'. This helps the bot register commands faster."></i>
        <input type="text" class="form-control requires-restart" id="guild_id" name="guild_id" value="{{ config.guild_id or '' }}" pattern="\d*" title="Only numbers (Guild ID) allowed">
    </div> 
</div> 