<hr class="my-4">
<div class="mb-3 card p-3">
    <h4>Discord Bot Settings</h4>
    <div class="mb-3">
        <label for="bot_token" class="form-label">Bot Token</label>
        <i class="bi bi-question-circle help-icon" data-bs-toggle="tooltip" data-bs-placement="right" title="Find your bot token in the Discord Developer Portal under your Bot Application -> 'Bot' -> 'Token'. Click 'Reset Token' (if necessary) and then 'Copy'. Treat this token like a password!"></i>
        <input type="password" class="form-control requires-restart" id="bot_token" name="bot_token" value="{{ config.bot_token if config and config.bot_token }}">
        <a href="{{ url_for('main_bp.discord_bot_setup') }}" class="btn btn-sm btn-outline-info mt-2">
            <i class="bi bi-info-circle"></i> Setup Guide
        </a>
    </div>
</div> 